[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=2.2.4"
djangorestframework = "~=3.10.2"
flake8 = "~=3.7.8"
psycopg2 = "~=2.8.3"
pillow = "~=8.1.1"

[requires]
python_version = "3.7"
